html, body {
    height: 100%;
    background-color: whitesmoke;
}

.btn{
    text-transform: none;
}

.sidenav-trigger{
    cursor: pointer;
    float: none !important;
    margin: 0 !important;
}

.renew_button{
    cursor: pointer;
}