{% extends "html/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'myCss/dashboard.css' %}">
{% endblock %}

{%  block body %}

    {% include "html/navbar.html" %}

    {% if is_admin %}
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5>Συνολικά έσοδα ασφαλιστών: <span class="total_sales">{{ sum_sales }}</span> €</h5>
                    <div class="success_header"><h6>Ποσοστό συνολικών πωλήσεων προς στόχο: <span class="success_percentage"></span>%</h6></div>
                </div>

                <div class="col offset-m3 s5">
                    <label for="goal_in">Set goal €</label>
                    <input type="number" id="goal_in" placeholder="Set Goal €" class="goal_input">
                </div>
                <div class="col s3">
                    <button class="btn waves waves-light goal_button">Set</button>
                </div>

                <div class="col s12">
                    <ul class="collapsible popout">
                        {% if insurances %}


                                <li class="customer_sale_card">
                                    <div class="collapsible-header">
                                        Εθνική Ασφαλιστική
                                    </div>
                                    <div class="collapsible-body">
                                        Ζωής: {{ sum_ethnikis_zwis }} €
                                        Οχήματος: {{ sum_ethnikis_car }} €
                                        Πυρός: {{ sum_ethnikis_fire }} €
                                        Αστικής Ευθύνης: {{ sum_ethnikis_public }} €
                                    </div>
                                </li>

                                <li class="customer_sale_card">
                                    <div class="collapsible-header">
                                        NN
                                    </div>
                                    <div class="collapsible-body">
                                        Ζωής: {{ sum_NN_zwis }} €
                                        Οχήματος: {{ sum_NN_car }} €
                                        Πυρός: {{ sum_NN_fire }} €
                                        Αστικής Ευθύνης: {{ sum_NN_public }} €
                                    </div>
                                </li>

                                <li class="customer_sale_card">
                                    <div class="collapsible-header">
                                        Groupama
                                    </div>
                                    <div class="collapsible-body">
                                        Ζωής: {{ sum_Groupama_zwis }} €
                                        Οχήματος: {{ sum_Groupama_car }} €
                                        Πυρός: {{ sum_Groupama_fire }} €
                                        Αστικής Ευθύνης: {{ sum_Groupama_public }} €
                                    </div>
                                </li>

                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% else %}

        <div class="container">
            <div class="row">

                <div class="col s12">
                    <h5>Συνολικά Έσοδα: {{ sum_sale }} €</h5>
                </div>

                <div class="col s12">
                    <button class="btn waves waves-light lime darken-3 print_button">
                        <i class="fas fa-print"></i>
                    </button>
                </div>

                <div class="col s12">
                    <input type="text" id="myInput" class="form-control" aria-label="Small" placeholder="Search..."
                           aria-describedby="inputGroup-sizing-sm">
                </div>

                <div class="col s12">
                    <ul class="collapsible popout">
                        {% if insurances %}
                            {% for insurance in insurances %}
                                <li class="customer_sale_card">
                                    <div class="collapsible-header">{{ insurance.customer.first_name }} {{ insurance.customer.last_name }},
                                        ΑΦΜ: {{ insurance.customer.AFM }} <br>
                                        Ασφάλιστρα: {{ insurance.insurance_premiums }} €
                                    </div>
                                    <div class="collapsible-body">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        Κωδικός Ασφαλίστρου:
                                                    </td>
                                                    <td>
                                                        {{ insurance.insurance_code }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Ενεργή:
                                                    </td>
                                                    <td>
                                                        {{ insurance.active }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Ασφάλιστρα:
                                                    </td>
                                                    <td>
                                                        {{ insurance.insurance_premiums }} €
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Ημερομηνία Έκδοσης:
                                                    </td>
                                                    <td>
                                                        {{ insurance.dateOfPublish }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Ημερομηνία ανανέωσης:</td>
                                                    <td>{{ insurance.renew_date }}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Μέθοδος Πληρωμής:
                                                    </td>
                                                    <td>
                                                        {{ insurance.payment_method }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

    {% endif %}
    
{% endblock %}

{% block JS %}
    <script src="{% static 'myJS/dashboard.js' %}" ></script>
    <script src="{% static 'myJS/search_dashboard.js' %}"></script>
{% endblock %}