{% extends "html/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'myCss/dashboard.css' %}">
{% endblock %}

{% block body %}

    {% include "html/navbar.html" %}

    <div class="container">
        <div class="row">
            {% if is_admin %}
                <div class="col s12">
                    <h4>Ασφάλειες:</h4>
                </div>
            {% else %}
                <div class="col s12">
                    <h4>Οι ασφάλειες μου:</h4>
                </div>
            {% endif %}

            <div class="col s12">
                <input type="text" id="myInput" class="form-control" aria-label="Small" placeholder="Search..."
                       aria-describedby="inputGroup-sizing-sm">
            </div>

            {% for insurance in insurances %}
                <div class="col l6 s12 insurance_list_item">
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">
                                Κωδικός: {{ insurance.insurance_code }} <br>
                                Όνομα Πελάτη: {{ insurance.customer.first_name }} <br>
                                Επίθετο Πελάτη: {{ insurance.customer.last_name }} <br>
                            </div>
                            <div class="collapsible-body">
                                <a href="{% url 'insurance_details' insurance.insurance_code %}">Πληροφορίες</a>
                            </div>
                        </li>
                    </ul>
                </div>
            {% endfor %}


        </div>
    </div>

{% endblock %}

{% block JS %}
    <script src="{% static 'myJS/dashboard.js' %}" ></script>
    <script src="{% static 'myJS/insurances.js' %}"></script>
{% endblock %}